.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 0.25s linear;
  height: 80px;
  float: left;
  padding-top: 30px;
}

.App-header {
  background-color: #124982;
  height: 85px;
  padding: 20px;
  color: white;
  padding-top: 0px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(92deg);
  }
}

h2#topHeader {
  float: right;
  padding-right: 5px;
  margin-top: 0px;
  font-size: 109px;
  color: #fff;
  /*text-shadow: -1px -1px 0 #D1D0D0, 1px -1px 0 #D1D0D0, -1px 1px 0 #D1D0D0, 1px 1px 0 #D1D0D0;
  */
}
